<nav class="navbar">
  <div class="navbar-left">
    <!-- Avatar à gauche -->
    <%= link_to root_path, class: "navbar-avatar-link" do %>
      <% image_tag "photo.jpg", alt: "Avatar", class: "avatar-img" %>
    <% end %>
  </div>

  <div class="navbar-right">
    <%= link_to "Films",        films_path,        class: "navbar-link" %>
    <%= link_to "Restaurants",  restaurants_path,  class: "navbar-link" %>
    <%= link_to "Bars",         bars_path,         class: "navbar-link" %>
    <%= link_to "Cadeaux",      gifts_path,        class: "navbar-link" %>
    <%= link_to "Activités",    activities_path,   class: "navbar-link" %>
    <%= link_to "Sport",        sports_path,       class: "navbar-link" %>
  </div>
</nav>
